:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main {
  display: flex;
  align-items: center;
}

/* error component css starts */

.error-container .ant-result-title {
  color: white;
}

.error-container .ant-result-subtitle {
  color: white;
  font-weight: 700;
}

/* error component css ends */

.items-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-img {
  width: 3rem;
  height: 3rem;  
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-container:hover {
  /* margin: 1rem; */
  /* background-color: rgba(2, 4, 49, 0.8); */
}

.item-name,
.item-price,
.item-amount {
  /* color: rgba(255, 255, 255, 1); */
  font-weight: 700;
  font-size: 1.2rem;
  /* color: black; */
}

.add-cart-btn {
  margin: 0.2rem;
  padding: .5rem;
}

.item-action-btns {
  display: flex;
  flex-flow: column nowrap;
  gap: .2rem;
}

.item-action-btn {
  background-color: #ffe6b3;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  padding: .2rem;
  width: 2rem;
  height: 2rem;
}

.empty-text {
  color: white;
  font-weight: 700;

}

/* cart header starts */

.cart-header {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.cart-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* cart header ends */